.italics-bacon {
  color: blue;
  font-style: italic;
}

.intro{
  font-weight: bold;
  background-color: #FFE4DE;
  border-radius: 1px black;
  border-style: dashed;
  padding: 15px;
  text-align: center;
}
